# classify all '.h' files as C
*.h linguist-language=C

# set line endings to default
* text=auto

# declare files that will always have unix-style line endings on checkout
*.sh text eol=lf
*.txt text eol=lf